{% extends 'base.html' %}

{% block title %}Demos{% endblock %}
{% block demosnav %}active{% endblock %}

{% block content %}
      <div class="row marketing" ng-app="beerApp">
        <div class="col-md-12">
            <h2>Demos</h2>
            <h3>Stores in a Specified City</h3>
            <p>
                Here's an example application that uses the /stores access 
                point to retrieve store locations based on their city. The city parameter
                is set through a string query (eg. city=Toronto). Enter a city, 
                click the search button, and The Beer Store locations in that
                city will be plotted on the map. Click on a marker to view details 
                about the location.
            </p>
            <div ng-controller="BeerMapController">
                <label for="city">City: </label>
                <input name="city" name="city" type="text" ng-model="city"/>
                <input class="btn-success" type="button" value="Search" ng-click="filterCity()" />
                <google-map center='{"latitude": 48, "longitude": -78}' zoom='5'
                draggable="true">
                    <marker ng-repeat="location in locations"
                            coords='{"latitude": location.latitude, "longitude": location.longitude}'>
                        <window>
                            <p>
                                [[ location.name ]]<br />
                                [[ location.address ]]<br />
                                [[ location.city ]]<br />
                                [[ location.postal_code ]]<br />
                                [[ location.phone ]]
                            </p>
                        </window>
                    </marker>
                </google-map>
            </div>
            <h3>Inventory of a Product at a Specified Store</h3>    
            <p>
                Here's another example application that uses the /stores access 
                point to populate a dropdown list. When a store is selected,
                the stores/{store_id}/products access point populates a dropdown
                list with products at that store. When a product is selected, it's
                quantity at that store is displayed.
            </p>
            <div ng-controller="BeerInventoryController">
                <label for="stores">Store</label>
                <select name="stores" class="form-control" ng-change="updateStore()" ng-model="selectedStore" ng-options="(l.name+' - '+l.city) for l in locations">
                </select><br />
                <label for="products">Product</label>
                <select for="products" class="form-control" ng-model="selectedProduct" ng-options="(p.product.name+' - '+p.product.size) for p in products"></select><br />
                <label>Quantity</label>
                <input type="text" readonly="readonly" class="form-control" value="[[ selectedProduct.quantity ]]" />

            </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
    </script>
    <script src="/static/js/beerApp.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="/static/js/angular-google-maps.min.js"></script>
{% endblock %}
