<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ontario Beer API - {% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div class="container">
      <div class="header">
        <h3 class="text-muted">Ontario Beer API</h3>
      </div>

    {% block content %}
    {% endblock %}

      <div class="footer">
          <hr>
          <p>
              Developed By Deven Juta, reanimated by
              <a href="https://ca.linkedin.com/in/ekooi">Erwin Kooi</a><br>
              <a href="https://github.com/CDyWeb/beer-store-api">https://github.com/CDyWeb/beer-store-api</a>
          </p>
      </div>

</div> 
  </body>
</html>
