{% extends 'base.html' %}

{% block title %}Demos{% endblock %}
{% block demosnav %}active{% endblock %}

{% block content %}
      <div class="row marketing" ng-app="beerApp">
        <div class="col-md-12">
            <h2>Demos</h2>
            <h3>Stores in a Specified City</h3>
            <p>
                Here's an example application that uses the /stores endpoint 
                point to retrieve store locations based on their city. The city parameter
                is set through a query string (eg. city=Toronto). 
                Enter a city and The Beer Store locations in that
                city will be plotted on the map. Click on a marker to view details 
                about the location.
            </p>
            <div ng-controller="BeerMapController">
                <label for="city">City: </label>
                <input class="form-control" name="city" id="city" type="text" ng-change="filterCity()" ng-model="city"/>
                <br />
                <google-map center='{"latitude": 48, "longitude": -78}' zoom='5'
                draggable="true">
                    <marker ng-repeat="location in locations"
                            coords='{"latitude": location.latitude, "longitude": location.longitude}'>
                        <window>
                            <p>
                                [[ location.name ]]<br />
                                [[ location.address ]]<br />
                                [[ location.city ]]<br />
                                [[ location.postal_code ]]<br />
                                [[ location.phone ]]
                            </p>
                        </window>
                    </marker>
                </google-map>
            </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
    </script>
    <script src="/static/js/beerApp.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="/static/js/angular-google-maps.min.js"></script>
{% endblock %}
